@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

header {
  width: calc(100% - 80px);
  height: 70px;
  position: absolute;
  z-index: 99;
}

.logo {
  display: flex;
  height: 70px;
  align-items: center;
  white-space: nowrap;
}

.logo>span {
  display: block;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 100px;
  color: #ffffff;
}

.wrap {
  width: 100%;
  display: flex;
  height: 70px;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;

}

.wrap>div:first-child {
  flex: 1 1 0%;
}

.wrap>div:last-child {
  flex: 1 1 0%;
}

.menu {
  min-width: 1000px;
}

.menu>ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu>ul>li {
  padding: 20px 50px;
  white-space: nowrap;
  position: relative;
}

.menu>ul>li::after {
  content: "";
  display: block;
  background-color: #424242;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.menu>ul>li:hover::after {
  display: block;
}

/* .menu > ul > li:hover {
  border-bottom:3px solid #424242;
  box-sizing: border-box;
} */

.menu>ul>li>a {
  font-size: 15px;
  color: #424242;
}

.submenu {
  position: absolute;
  top: 110px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
}

.submenu>li>a {
  font-size: 13px;
  padding: 8px;
  color: #ffffff;
}

li:nth-child(4)>.submenu>li>a:nth-child(7) {
  letter-spacing: -1px;
}

.btwrap {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  color: #424242;
}

.btwrap>div {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.banner>span {
  padding: 10px;
  border-radius: 30px;
}

.phonenumber>img {
  padding-right: 10px;
  width: 18px;
  height: 18px;
}

.phonenumber>span {
  font-size: 18px;
}

.slider-box-1 {
  width: 100%;
  padding: 90px 80px 0;
  transition: 0.3s;
  position: relative;
  height: 100vh;
}

.slider-box-1::before {
  content: "";
  background-color: hsl(181deg 73% 20%);
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.slider-box-1.first-slide-actived {
  padding: 0;
}

.slider-box-1 .swiper {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 50px 0 0 0;

}

.slider-box-1.first-slide-actived .swiper {
  border-radius: 0;
}

.slider-box-1 .first-slide-actived::before {
  width: 100%;
}

.slider-box-1[index-num="5"]::before {
  background-color: darkblue;
  width: 100%;
}

.slide-box-1 .swiper-slide span {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #ffffff;
}

.slide-box-1 .swiper-slide h2 {
  position: absolute;
  top: 230px;
  left: 100px;
  color: #ffffff;
}

.slider-box-1 .swiper-slide>a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-box-1 .vis-control .pagination-swiper {
  position: absolute;
  z-index: 99;
  border: 3px solid red;
}

.slide-box-1 .vis-control .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #fff;
  width: 0;
  height: 3px;
  transition: 0.3s;
}

aside {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  z-index: 250;
}

aside .ban {
  position: relative;
  width: 100%;
  height: 100%;
}

aside .head-full {
  border: 1px solid #f2f2f2;
  height: 90px;
  width: 100%;
  background: url("https://to2.kr/ecj") no-repeat center;
}

aside .sns li:nth-child(1) a span {
  background-image: url("https://to2.kr/eck");
}

aside .sns li:nth-child(2) a span {
  background-image: url("https://to2.kr/ecm");
}

aside .sns li:nth-child(3) a span {
  background-image: url("https://to2.kr/ecn");
}

aside .sns li:nth-child(4) a span {
  background-image: url("https://to2.kr/eco");
}

aside .sns li a span {
  display: block;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
}

aside .scroll {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 65px;
  background: url("https://to2.kr/ecp") no-repeat center;
  animation: scroll 2s ease infinite;
}

.premium7 {
  background: url("https://www.prugio.com/ht/2022/anyang/web/img/main1-bg.png") no-repeat;
  background-size: cover;
  padding: 90px 80px;
  position: relative;
  width: 100%;
  height: 866px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.premium7 .inner {
  margin-right: 50px;

}

.slider-box-2 {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.slider-box-2 .swiper {
  margin: 100px 0;
  width: 1080px;
  overflow: visible;
}

.slider-box-2 .swiper .swiper-slide {
  transition: 0.8s;
}

.slider-box-2 .swiper .swiper-slide img {
  position: absolute;
}

.slider-box-2 .swiper .swiper-slide.swiper-slide-active {
  transform: translatey(-20px);
}

.slider-box-2 .swiper .swiper-slide.swiper-slide-active img:last-child {
  opacity: 0;
}

.logo-amenity {
  display: flex;
}

.logo-amenity>.logo-img {
  margin: 80px
}

.logo-amenity>.logo-text {
  margin: 100px 0;
}

.amenity-list {
  margin: 0 90px;
}

.amenity-list ul>li {
  flex-grow: 1;
}

.amenity-list ul>li>a>img {
  display: block;
  width: 100%;
}

.top-list {
  display: flex;
  justify-content: center;
}

.top-list .img-text {
  text-align: center;
}

.bottom-list {
  display: flex;
  justify-content: center;
}

.bottom-list {
  text-align: center;
}

.footer-lef {
  display: flex;
  background-color: #424242;
  color: #919190;
}

.footer-logo {
  margin: 50px 0;
  margin-left: 90px;
}

.footer-text {
  margin: 50px;
}

.location-bg {
  background: url("https://to2.kr/eaa") no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 660px;
}

.sub-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: calc(100% - 70px);
  border-radius: 0 200px 0 0;
  background-color: rgba(0, 17, 64, 0.9);
}

.sub-bg.active {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1150px;
  height: calc(100% - 70px);
  border-radius: 0 200px 0 0;
  background-color: rgba(0, 17, 64, 0.9);
  transition: 1s;
}

.sub-bg img {
  display: block;
  position: absolute;
  top: 40px;
  left: 50px;
  opacity: 0;
}

.sub-bg img.active {
  display: block;
  position: absolute;
  top: 40px;
  left: 50px;
  opacity: 1;
  transition: 4s 1s;
}