@charset "utf-8";
/* CSS Document */
*{
  margin: 0 auto;
  padding: 0;
  list-style:none;
  font-family:'Noto Sans KR', sans-serif;
}

a{
  display:block;
  text-decoration: none;
}

header::before{
  content:"";
  display: block;
  width:100%;
  position: absolute;
  background-color: red;
   
}

.logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
 
}

.logo > span {
  display: block;
  font-size: 20px;
  padding-right: 100px;
}

.wrap{
  display: flex;
  background-color: aqua;
  
}

.wrap > div:first-child {
  flex:1 1 0%;
}

.wrap > div:last-child {
  flex:1 1 0%;
}

.menu {
  min-width: 1000px;
}

.menu > ul {
  display: flex;
  align-items: center;
  height:100%;
}

.menu > ul > li {
  padding:20px 50px;
  white-space: nowrap;
  position:relative;
  border:3px solid red;
}

.menu > ul > li::after {
  content:"";
  display:block;
  background-color: #424242;
  width:100%;
  height:3px;
  position:absolute;
  bottom: 0;
  left:0;
  display: none;
}

.menu > ul > li:hover::after{
  display:block;
}

/* .menu > ul > li:hover {
  border-bottom:3px solid #424242;
  box-sizing: border-box;
} */

.menu > ul > li > a {
  font-size: 15px;
}

.submenu{
  position:absolute;
  top:110px;
  text-align: center;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  display: none;
}

.submenu>li>a{
  font-size:13px;
  padding:8px;
  color:#919190
}

li:nth-child(4)>.submenu>li>a:nth-child(7){
  border:3px solid red;
  letter-spacing: -1px;
}

.btwrap {
  display: flex;
  white-space: nowrap;
}

.btwrap>div{
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.banner > span {
  background-color: blue;
  padding: 10px;
  border-radius: 30px;
}

.phonenumber > img {
  padding-right:10px;
  width:18px;
  height:18px;
}

.phonenumber>span{
  font-size: 18px;
}